$lightBlueBack: rgb(90, 162, 204);
$darkPurpleBack: #242031;

.form {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	.input {
		width: 100%;
		padding: 5px;
		transition: all ease .5s;
		border: 1px solid $lightBlueBack ;
		margin-bottom: 0;
		background-color: $darkPurpleBack;
		outline: none;
		color: #fff;
		&:focus {
			transition: all ease .5s;
			border: 1px solid #fff;
		}
	}
}
.button {
	width: 15%;
	border: 1px solid $lightBlueBack;
	background-color: $darkPurpleBack;
	text-transform: uppercase;
	font-weight: bold;
	color: rgb(90, 162, 204);
	transition: all ease .5s;
	margin: 30px 0;
	&:hover {
		transition: all ease .5s;
		background-color: $lightBlueBack;
		color: #fff;
		border: 1px solid #fff;
	}
}