$lightBlueBack: rgb(90, 162, 204);

.descriptionTitle, .descriptionText {
	text-align: center;
	width: 100%;
}
.flavorText {
	width: 100%;
	text-align: center;
	font-style: italic;
	font-weight: bold;
}