 /* @import "~bootstrap/scss/bootstrap"; */

 .searchForm {
	height: 100vh;
	background-color: beige;
}
.form {
	display: flex;
	justify-content: space-between;
}
.input {
	flex-basis: 80%;
	padding: 5px;
	transition: all ease .5s;
	border: 1px solid rgb(90, 162, 204) ;
}
.input:focus{
	transition: all ease .5s;
	border: 1px solid rgb(26, 48, 61);
}
.button {
	flex-basis: 15%;
	border: 1px solid rgb(90, 162, 204);
	background-color: #fff;
	text-transform: uppercase;
	font-weight: bold;
	color: rgb(90, 162, 204);
	transition: all ease .5s;
}
.button:hover{
	transition: all ease .5s;
	background-color: rgb(90, 162, 204);
	color: #fff;
	border: 1px solid #fff;

}
